<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
      <span class="navbar-toggler-icon"></span>
      <% if (user) { %>
      <div>
        <p>"You are logged in as " <%= user %> </p>
        <form method= "POST" action = "/logout">
          
            <button> Logout</button>
        </form>
      </div>
        <%} else { %>
          <form method= "POST" action = "/login">
            <input type = "text" placeholder = "email" name = "email">
              <button> Login</button>
          </form>
        <% } %>
        
        </div>
        <form method= "POST" action = "/register">
          <input type = "text" placeholder = "email" name = "email" >
          <input type = "text" placeholder = "password" name = "password" >
            <button> Register</button>
        </form>
        <a href="http://localhost:8080/register">Visit register</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    
      </div>
    </div>
  </nav>
</header>
