<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/register">TinyApp</a>
    </header>
</head>
<h3>Register here!</h3>
    
<body>
  

         
  
</body>
<form method= "POST" action = "register">
  <input type = "text" placeholder = "email" name = "email" >
  <input type = "text" placeholder = "password" name = "password" >
    <button> Submit </button>
  </form>

  <a href="http://localhost:8080/login">Login</a>
</html>